<h1 class="title">What do you miss?</h1>
<p class='description'>Please search here:</p>

<form action='/businesses' method='POST'>
  <input type="text" name="business[term]" placeholder="Term">
  <input type="text" name="business[city]" placeholder="location">
  <input type="submit" value="search">
</form>
