<h1>Login</h1>

<form action='/sessions' method='POST'>
  <label for='email'>Email:</label>
  <input type="email" name="email" value='<%= @user.email %>'><br>
  <label for='password'>Password:</label>
  <input type="password" name="password"><br>
  <input type="submit" value="Login">
</form>