* {
  margin: 10px auto;
  padding: 2px 2px 2px 2px;
  font-family: arial;
}

#nav {
  text-align: left;
  border-style: solid;
  border-width: 2px;
  padding: 10px;
}

#new_user {
  text-align: left;
  border: solid;
  padding: 20px;
  font-weight: bold;
}

#login {
  text-align: left;
  border: solid;
  padding: 20px;
  font-weight: bold;
}

.title {
  text-align: center;
  border: solid;
  padding: 20px;
}

.list {
  margin-left: 40px;
}

#registration_link {
  border: solid;
  border-width: 2px;
}

#login_link {
  border: solid;
  border-width: 2px;
}

#home_link {
  border: solid;
  border-width: 2px;
}