<h1>Registration:</h1>

<form id="new_user" action='/users' method='POST'>
<label for='first_name'>First Name:</label>
<input type="text" name="user[first_name]" placeholder='First Name'><br><br>
<label for='last_name'>Last Name:</label>
<input type="text" name="user[last_name]" placeholder='Last Name'><br><br>
<label for='email'>Email:</label>
<input type="email" name="user[email]" placeholder='Email'><br><br>
<label for='password'>Password:</label>
<input type="password" name="user[password]" placeholder='Password'><br><br>

<input type="submit" name="Register">