<h1>All the reviews</h1>

<ul class="list">
  <% @reviews.each do |review| %>
    <li><a href="/reviews/<%= review.id %>"><%= review.title %></a></li>
  <% end %>
</ul>


<a id='new_review_link' href="/reviews/new">Create new review</a>