<form id="new_review" action='/reviews' method='POST'>
<label>Title:</label>
<input type="text" name="review[title]" placeholder="Title"><br>
<label>Review:</label>
<input type="text" name="review[description]" placeholder="Review"><br>
<input type="submit" value="Create New Review">
</form>

