<h1>Review</h1>
<h3><%= @review.title %> </h3>
<p><%= @review.description %></p>

<a href="/reviews/<%= @review.id %>/edit">Edit Review</a>

<form action='/reviews/<%= @review.id %>' method='POST'>
<input type="hidden" name="_method" value='DELETE'>
<input type="submit" value="Delete Review">

<form>
  <input type="submit" value="⭐️">
</form>

