<h1 class="title">Welcome to Transplant</h1>
<h3 class="sub-title">Find the things you miss in the city that you love.</h3>

<p>Search for what you miss <a href='/businesses/new'>here</a></p>


<div id="review-container">
  <h2 id="review-title">Reviews</h2>
  <p>Here's a list of all the reivews:
    <a id='all_reviews_link' href="/reviews">All reviews</a>


  <div id="review-form-container">
    <a id='new_review_link' href="/reviews/new">Create new review</a>
  </div>

</div>