<h1 class="title">Welcome to Transplant</h1>

<!-- search bar- item and location -->

<div id="review-container">
  <h2 id="review-title">Reviews:</h2>
    <a id='all_reviews_link' href="/reviews">All reviews</a>


  <div id="review-form-container">
    <a id='new_review_link' href="/reviews/new">Create new review</a>
  </div>

</div>