<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <nav id ="nav">
<a id="registration_link" href="/users/new">Register here</a>
<% if logged_in? %>
  <form action="/sessions/<%= @current_user.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Logout">
  </form>
<% else %>
  <a id="login_link" href="/sessions/new">Login here</a>
<% end %>
<a id="home_link" href="/">Home</a>
</nav>
  <%= erb :'_errors' %>
  <%= yield %>
</body>
</html>
